$container: 1670px;
$xxl-min: 1400px;
$xl-min: 1200px;
$lg-min: 992px;
$md-min: 768px;
$sm-min: 576px;

// Colors
$white: rgba(255, 255, 255, 1);
$black: #0D0D0D;
$green: rgba(103, 243, 143, 1);
$yellow: rgba(232, 243, 104, 1);

// Fonts
$HelveticaNeueRegular: 'Helvetica-Neue-Regular';
$HelveticaNeueMedium: 'Helvetica-Neue-Medium';
$BenzinRegular: 'Benzin-Regular';
$BenzinMedium: 'Benzin-Medium';
$SFProDisplay: 'SF-Pro-Display';

// Transitions
$transition: all linear .3s;