mixin logo 
	.logo.icon&attributes(attributes)
		<svg width="70" height="74" viewBox="0 0 70 74" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M56.9689 21.9358C56.9689 26.6958 55.4445 31.1018 52.8547 34.697C52.8477 34.7329 52.8378 34.7683 52.8248 34.8027C52.7006 35.1317 52.6488 35.5221 52.6488 36.0697C52.6488 37.5392 53.6958 38.7096 54.4158 39.5146C54.5877 39.7068 54.741 39.8781 54.8569 40.0278C55.8813 41.3546 57.8608 44.7993 57.5834 47.9636C57.5261 48.6168 57.4636 49.2267 57.4045 49.8037C57.1055 52.7204 56.8929 54.7953 57.8803 57.3663C58.0858 57.9013 58.2621 58.3806 58.4244 58.822C59.014 60.4253 59.4203 61.5299 60.3784 62.9989C60.6369 63.3952 60.2089 63.9139 59.7853 63.7002C57.6825 62.639 56.5174 61.713 55.188 59.6056C53.9826 57.6946 53.4586 55.7279 52.943 53.7926C52.7555 53.0892 52.5692 52.3899 52.3517 51.699C51.5357 49.107 50.4628 45.9982 47.9113 43.5176C47.6664 43.2795 47.438 43.0629 47.2241 42.8681C46.1438 42.169 45.3926 42.1614 44.5769 42.7408C43.7811 43.3062 43.3264 44.7761 43.7811 45.7938C43.7993 45.8346 43.814 45.8721 43.8254 45.9066C44.1657 46.6772 44.5452 47.4796 44.8757 48.1783C45.1835 48.8291 45.4488 49.3901 45.6001 49.7513C46.2444 51.2966 47.26 55.1334 46.1686 58.1185C45.9433 58.7347 45.7242 59.3078 45.5169 59.8498C44.4691 62.5903 43.7237 64.5397 44.0085 67.2773C44.0677 67.847 44.1133 68.3552 44.1552 68.8234C44.3075 70.5238 44.4125 71.6954 44.9557 73.361C45.1022 73.8103 44.5538 74.2012 44.2003 73.8857C42.4453 72.3193 41.5609 71.125 40.8252 68.7472C40.1581 66.591 40.1638 64.5565 40.1694 62.5544C40.1714 61.8268 40.1734 61.1032 40.1431 60.3799C40.0294 57.6662 39.802 54.3872 37.983 51.3342C36.6127 49.0345 36.1094 48.3588 35.1061 47.627C35.0568 47.591 35.0154 47.5464 34.9837 47.4961C34.9521 47.5464 34.9107 47.591 34.8614 47.627C33.8581 48.3588 33.3547 49.0345 31.9845 51.3342C30.1654 54.3872 29.9381 57.6662 29.8244 60.3799C29.7941 61.1031 29.7961 61.8264 29.7981 62.5539C29.8037 64.556 29.8093 66.591 29.1423 68.7472C28.4066 71.125 27.5222 72.3193 25.7671 73.8857C25.4137 74.2012 24.8652 73.8103 25.0118 73.361C25.555 71.6954 25.6599 70.5238 25.8123 68.8234C25.8542 68.3552 25.8997 67.847 25.959 67.2773C26.2437 64.5397 25.4984 62.5903 24.4506 59.8498C24.2433 59.3078 24.0242 58.7347 23.7989 58.1185C22.7075 55.1334 23.7231 51.2966 24.3673 49.7513C24.7019 48.9527 25.4912 47.1321 26.2348 45.5961C26.4648 44.8775 26.3002 43.9933 25.9137 43.3553C25.7446 43.1515 25.549 42.9387 25.3323 42.7189C24.4554 42.1109 23.6476 42.1857 22.4167 43.0736C22.2686 43.2121 22.1139 43.3601 21.952 43.5176C19.4005 45.9982 18.3275 49.107 17.5115 51.699C17.294 52.3899 17.1077 53.0892 16.9203 53.7926C16.4046 55.7279 15.8806 57.6946 14.6752 59.6056C13.3458 61.713 12.1808 62.639 10.0779 63.7002C9.65435 63.9139 9.22632 63.3952 9.48479 62.9989C10.4429 61.5299 10.8492 60.4253 11.4388 58.822C11.6012 58.3806 11.7774 57.9013 11.9829 57.3663C12.9703 54.7953 12.7577 52.7204 12.4587 49.8037C12.3996 49.2268 12.3371 48.6167 12.2798 47.9636C12.0024 44.7993 13.9819 41.3546 15.0063 40.0278C15.1223 39.8781 15.2755 39.7068 15.4475 39.5146C16.1675 38.7096 17.2144 37.5392 17.2144 36.0697C17.2144 35.5221 17.1627 35.1317 17.0384 34.8027C17.035 34.7936 17.0318 34.7845 17.0288 34.7753C14.4046 31.1658 12.8579 26.7304 12.8579 21.9358C12.8579 9.82098 22.7325 0 34.9134 0C47.0943 0 56.9689 9.82098 56.9689 21.9358ZM37.2518 17.6391C37.2518 17.1395 37.659 16.7345 38.1614 16.7345H39.374V14.0208C39.374 13.771 39.5776 13.5685 39.8288 13.5685H40.7762C41.0273 13.5685 41.2309 13.771 41.2309 14.0208V16.7345H42.4436C42.9459 16.7345 43.3531 17.1395 43.3531 17.6391V30.3407C43.3531 30.8403 42.9459 31.2453 42.4436 31.2453H41.2309V33.6952C41.2309 33.945 41.0273 34.1474 40.7762 34.1474H39.8288C39.5776 34.1474 39.374 33.945 39.374 33.6952V31.2453H38.1614C37.659 31.2453 37.2518 30.8403 37.2518 30.3407V17.6391ZM26.6031 17.6391C26.6031 17.1395 27.0103 16.7345 27.5126 16.7345H28.7252V14.0208C28.7252 13.771 28.9288 13.5685 29.18 13.5685H30.1274C30.3785 13.5685 30.5821 13.771 30.5821 14.0208V16.7345H31.7948C32.2971 16.7345 32.7043 17.1395 32.7043 17.6391V30.3407C32.7043 30.8403 32.2971 31.2453 31.7948 31.2453H30.5821V33.6952C30.5821 33.945 30.3785 34.1474 30.1274 34.1474H29.18C28.9288 34.1474 28.7252 33.945 28.7252 33.6952V31.2453H27.5126C27.0103 31.2453 26.6031 30.8403 26.6031 30.3407V17.6391Z" fill="white"/>
		<path d="M6.80228 34.6766C7.29557 31.9332 9.06348 29.1553 10.3926 27.8297C10.6262 27.5968 11.0037 27.7284 11.082 28.048C11.6364 30.3106 12.0518 31.215 12.8641 32.9835C13.0907 33.4766 13.3481 34.037 13.6479 34.7128C13.7884 35.0294 13.989 35.5043 13.989 36.0697C13.989 36.2783 13.8325 36.6282 13.6329 36.906C13.6001 36.9518 13.5575 36.9886 13.5095 37.0181C11.5985 38.1963 10.0362 40.7082 8.65046 42.9363C7.72573 44.4231 6.87961 45.7836 6.06092 46.5369C4.22478 48.2265 2.85719 48.8181 0.548769 49.2969C0.0838338 49.3933 -0.193319 48.7816 0.160148 48.4661C1.47043 47.2965 2.15238 46.3355 3.14214 44.9408C3.41466 44.5567 3.71051 44.1398 4.04924 43.6766C5.67686 41.4509 6.01583 39.3927 6.49232 36.4994C6.58658 35.9271 6.68622 35.322 6.80228 34.6766Z" fill="white"/>
		<path d="M59.6074 27.8297C60.9365 29.1553 62.7044 31.9332 63.1977 34.6766C63.3137 35.3218 63.4133 35.9266 63.5076 36.4987L63.5077 36.4994C63.9842 39.3927 64.3231 41.4509 65.9508 43.6766C66.2895 44.1398 66.5854 44.5568 66.8579 44.9408C67.8476 46.3355 68.5296 47.2965 69.8399 48.4661C70.1933 48.7816 69.9162 49.3933 69.4512 49.2969C67.1428 48.8181 65.7752 48.2265 63.9391 46.5369C63.1205 45.7837 62.2745 44.4234 61.3499 42.9367C59.9641 40.7087 58.4015 38.1963 56.4905 37.0181C56.4425 36.9886 56.3999 36.9518 56.3671 36.906C56.1675 36.6282 56.011 36.2783 56.011 36.0697C56.011 35.5043 56.2116 35.0294 56.3521 34.7128C56.6519 34.037 56.9093 33.4766 57.1359 32.9835C57.9482 31.215 58.3636 30.3106 58.918 28.048C58.9963 27.7284 59.3738 27.5968 59.6074 27.8297Z" fill="white"/>
		</svg>

mixin logoTitle 
	.logo-title.icon&attributes(attributes)
		<svg width="83" height="55" viewBox="0 0 83 55" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M15.0649 0.055374C16.7235 0.055374 18.2186 0.369179 19.5502 0.996775C20.894 1.61206 21.9412 2.46732 22.6917 3.56253C23.4544 4.64544 23.8358 5.86987 23.8358 7.23581C23.8358 8.58945 23.4544 9.80772 22.6917 10.8906C21.9412 11.9735 20.9 12.8288 19.5684 13.4564C18.2367 14.0717 16.7416 14.3793 15.0831 14.3793C13.4851 14.3793 12.0082 14.0717 10.6523 13.4564C9.2964 12.8288 8.21896 11.9735 7.41996 10.8906C6.63307 9.79542 6.23963 8.57715 6.23963 7.23581C6.23963 5.88218 6.63307 4.65775 7.41996 3.56253C8.21896 2.46732 9.29035 1.61206 10.6341 0.996775C11.99 0.369179 13.4669 0.055374 15.0649 0.055374ZM15.0831 10.9276C15.761 10.9276 16.4087 10.7799 17.0261 10.4845C17.6556 10.1892 18.1641 9.76466 18.5515 9.21089C18.9389 8.65713 19.1326 7.99877 19.1326 7.23581C19.1326 6.47285 18.9328 5.8145 18.5333 5.26073C18.1459 4.69467 17.6375 4.27011 17.008 3.98708C16.3784 3.69174 15.7247 3.54406 15.0468 3.54406C14.3567 3.54406 13.703 3.69174 13.0856 3.98708C12.4682 4.28242 11.9658 4.71312 11.5784 5.27919C11.2031 5.83295 11.0155 6.48516 11.0155 7.23581C11.0155 7.99877 11.2092 8.65713 11.5966 9.21089C11.9839 9.76466 12.4863 10.1892 13.1038 10.4845C13.7333 10.7799 14.3931 10.9276 15.0831 10.9276Z" fill="white"/>
		<path d="M24.5765 7.1989C24.5765 5.83296 24.9699 4.60238 25.7568 3.50716C26.5558 2.41194 27.6393 1.55668 29.0073 0.941392C30.3874 0.313795 31.9127 0 33.5834 0C35.0845 0 36.4404 0.246116 37.651 0.738348C38.8616 1.21828 39.8543 1.90125 40.6291 2.78726C41.4039 3.66098 41.9184 4.68852 42.1726 5.86987H37.5239C37.3423 5.37764 37.0336 4.95309 36.5978 4.59622C36.174 4.22705 35.6959 3.95016 35.1632 3.76558C34.6305 3.58099 34.11 3.4887 33.6015 3.4887C32.8873 3.4887 32.1912 3.63636 31.5132 3.9317C30.8474 4.22704 30.3026 4.65775 29.8789 5.22381C29.4673 5.77757 29.2615 6.43594 29.2615 7.1989C29.2615 7.96186 29.4673 8.62637 29.8789 9.19243C30.2905 9.74619 30.8232 10.1707 31.4769 10.4661C32.1427 10.7491 32.8509 10.8906 33.6015 10.8906C34.4368 10.8906 35.2056 10.6876 35.9077 10.2815C36.622 9.87541 37.1486 9.29704 37.4876 8.54639H42.1544C41.8881 9.71544 41.3675 10.743 40.5928 11.629C39.818 12.5027 38.8313 13.1795 37.6328 13.6594C36.4343 14.1394 35.0845 14.3793 33.5834 14.3793C31.9248 14.3793 30.4055 14.0655 29.0254 13.4379C27.6574 12.8103 26.574 11.9489 25.775 10.8537C24.976 9.7585 24.5765 8.54023 24.5765 7.1989Z" fill="white"/>
		<path d="M58.6619 0.350713V4.06092H52.9963V14.0102H48.5291V4.06092H42.7909V0.350713H58.6619Z" fill="white"/>
		<path d="M67.9993 0.055374C69.6579 0.055374 71.153 0.369179 72.4846 0.996775C73.8284 1.61206 74.8756 2.46732 75.6262 3.56253C76.3888 4.64544 76.7702 5.86987 76.7702 7.23581C76.7702 8.58945 76.3888 9.80772 75.6262 10.8906C74.8756 11.9735 73.8344 12.8288 72.5028 13.4564C71.1711 14.0717 69.676 14.3793 68.0175 14.3793C66.4195 14.3793 64.9426 14.0717 63.5867 13.4564C62.2308 12.8288 61.1534 11.9735 60.3544 10.8906C59.5675 9.79542 59.174 8.57715 59.174 7.23581C59.174 5.88218 59.5675 4.65775 60.3544 3.56253C61.1534 2.46732 62.2247 1.61206 63.5685 0.996775C64.9244 0.369179 66.4013 0.055374 67.9993 0.055374ZM68.0175 10.9276C68.6954 10.9276 69.3431 10.7799 69.9605 10.4845C70.59 10.1892 71.0985 9.76466 71.4859 9.21089C71.8733 8.65713 72.067 7.99877 72.067 7.23581C72.067 6.47285 71.8672 5.8145 71.4677 5.26073C71.0803 4.69467 70.5719 4.27011 69.9424 3.98708C69.3128 3.69174 68.6591 3.54406 67.9812 3.54406C67.2911 3.54406 66.6374 3.69174 66.02 3.98708C65.4026 4.28242 64.9002 4.71312 64.5128 5.27919C64.1375 5.83295 63.9499 6.48516 63.9499 7.23581C63.9499 7.99877 64.1436 8.65713 64.531 9.21089C64.9183 9.76466 65.4207 10.1892 66.0382 10.4845C66.6677 10.7799 67.3274 10.9276 68.0175 10.9276Z" fill="white"/>
		<path d="M15.871 16.8167V20.5269H10.2054V30.4762H5.73827V20.5269H0V16.8167H15.871Z" fill="white"/>
		<path d="M27.8702 30.4577L24.1476 26.0461H21.3693V30.4577H17.0837V16.7983H27.2346C28.3605 16.7983 29.3532 16.989 30.2127 17.3705C31.0844 17.752 31.7562 18.2873 32.2284 18.9764C32.7126 19.6532 32.9547 20.4408 32.9547 21.3391V21.4129C32.9547 22.582 32.6158 23.548 31.9378 24.311C31.272 25.0739 30.3459 25.5846 29.1595 25.843L33.0637 30.4577H27.8702ZM28.7418 21.4499C28.7418 20.9699 28.6389 20.6192 28.4331 20.3977C28.2394 20.1762 27.9852 20.0408 27.6705 19.9916C27.3557 19.9424 26.8957 19.9178 26.2904 19.9178H25.6366C24.7408 19.9424 23.3183 19.9547 21.3693 19.9547V22.8896H26.2904C26.8957 22.8896 27.3557 22.865 27.6705 22.8158C27.9852 22.7666 28.2394 22.6435 28.4331 22.4466C28.6389 22.2374 28.7418 21.9052 28.7418 21.4499Z" fill="white"/>
		<path d="M51.6973 30.4762H47.1757L45.9227 28.1319H38.3141L37.0611 30.4762H32.5395L39.8213 16.8167H44.4155L51.6973 30.4762ZM42.1275 20.9884L39.9484 25.0493H44.2884L42.1275 20.9884Z" fill="white"/>
		<path d="M67.4522 23.6649C67.4522 24.957 67.1132 26.1199 66.4352 27.1536C65.7694 28.1873 64.8191 28.9995 63.5843 29.5901C62.3495 30.1808 60.9149 30.4762 59.2806 30.4762V30.4946H55.6669V30.4762H52.0896V16.8167H59.2624C60.8967 16.8167 62.3313 17.1121 63.5661 17.7027C64.813 18.2934 65.7694 19.1056 66.4352 20.1393C67.1132 21.173 67.4522 22.3482 67.4522 23.6649ZM59.3714 26.8214C60.4246 26.8214 61.2962 26.5629 61.9863 26.0461C62.6884 25.5169 63.0395 24.7232 63.0395 23.6649C63.0395 23.0742 62.87 22.5389 62.531 22.059C62.1921 21.5668 61.7381 21.1853 61.1691 20.9145C60.6122 20.6315 60.013 20.49 59.3714 20.49H56.5749V26.8214H59.3714Z" fill="white"/>
		<path d="M81.4565 25.1601H73.067V27.2459L82.9818 27.1721V30.4762H68.5817V16.8167H82.9818L83 20.1208H73.067V21.9298H81.4565V25.1601Z" fill="white"/>
		<path d="M42.0233 49.5097C42.5453 49.5097 43.0392 49.404 43.505 49.1927C43.9708 48.9733 44.3482 48.6605 44.6373 48.2541C44.9264 47.8397 45.071 47.348 45.071 46.7792C45.071 46.2185 44.9264 45.7309 44.6373 45.3164C44.3482 44.8939 43.9708 44.5729 43.505 44.3534C43.0392 44.134 42.5453 44.0243 42.0233 44.0243C41.4853 44.0243 40.9793 44.134 40.5055 44.3534C40.0397 44.5647 39.6663 44.8776 39.3852 45.292C39.1041 45.7065 38.9636 46.1941 38.9636 46.7548C38.9636 47.3237 39.1041 47.8194 39.3852 48.2419C39.6743 48.6564 40.0518 48.9733 40.5176 49.1927C40.9914 49.404 41.4933 49.5097 42.0233 49.5097Z" fill="#67F38F"/>
		<path d="M32.4931 44.841C32.4931 44.5403 32.4249 44.325 32.2883 44.195C32.1518 44.0568 31.9711 43.9715 31.7463 43.939C31.5294 43.9065 31.2162 43.8902 30.8067 43.8902H26.988V45.7918L29.8791 45.8162H30.8067C31.2403 45.8162 31.5575 45.804 31.7583 45.7796C31.9591 45.7553 32.1317 45.674 32.2763 45.5358C32.4209 45.3977 32.4931 45.1661 32.4931 44.841Z" fill="#67F38F"/>
		<path d="M31.2042 49.4609C31.6941 49.4609 32.0595 49.4447 32.3004 49.4122C32.5413 49.3715 32.7341 49.274 32.8786 49.1196C33.0232 48.9652 33.0954 48.7173 33.0954 48.376C33.0954 48.0428 33.0232 47.8031 32.8786 47.6568C32.7341 47.5024 32.5413 47.409 32.3004 47.3765C32.0595 47.344 31.6941 47.3277 31.2042 47.3277H26.988V49.4365C28.7307 49.4365 29.9715 49.4447 30.7103 49.4609H31.2042Z" fill="#67F38F"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M23.9256 38.534C21.6415 38.534 19.7898 40.4162 19.7898 42.7381V50.7959C19.7898 53.1178 21.6415 55 23.9256 55H58.7357C61.0198 55 62.8715 53.1178 62.8715 50.7959V42.7381C62.8715 40.4162 61.0198 38.534 58.7357 38.534H23.9256ZM42.0233 42.0374C43.0994 42.0374 44.0672 42.2446 44.9264 42.6591C45.7857 43.0654 46.4603 43.6302 46.9502 44.3534C47.4401 45.0686 47.685 45.8771 47.685 46.7792C47.685 47.6731 47.4401 48.4776 46.9502 49.1927C46.4603 49.9079 45.7857 50.4727 44.9264 50.8871C44.0672 51.2934 43.0994 51.4966 42.0233 51.4966C40.9874 51.4966 40.0317 51.2934 39.1563 50.8871C38.289 50.4727 37.5984 49.9079 37.0844 49.1927C36.5704 48.4695 36.3134 47.665 36.3134 46.7792C36.3134 45.8853 36.5664 45.0767 37.0724 44.3534C37.5863 43.6302 38.281 43.0654 39.1563 42.6591C40.0317 42.2446 40.9874 42.0374 42.0233 42.0374ZM33.6375 46.5232C34.3121 46.6614 34.8221 46.9011 35.1674 47.2424C35.5127 47.5756 35.6854 48.055 35.6854 48.6808V48.7295C35.6854 49.3959 35.5087 49.9119 35.1553 50.2776C34.802 50.6433 34.3121 50.8993 33.6857 51.0456C33.0593 51.1837 32.2723 51.2569 31.3247 51.265H30.8187L24.615 51.2528V42.2324H31.8788C32.8103 42.2406 33.5532 42.4356 34.1073 42.8176C34.6614 43.1995 34.9385 43.7399 34.9385 44.4388V44.4875C34.9385 45.0157 34.8301 45.4465 34.6133 45.7796C34.3964 46.1128 34.0712 46.3607 33.6375 46.5232ZM58.391 42.2324V44.3291H54.5121V51.2528H52.0066V44.3291H48.0795V42.2324H58.391Z" fill="#67F38F"/>
		</svg>

mixin graphLine
	.graph-line.icon&attributes(attributes)
		<svg width="2" height="573" viewBox="0 0 2 573" fill="none" xmlns="http://www.w3.org/2000/svg">
		<line x1="1" y1="4.37114e-08" x2="0.999975" y2="573" stroke="url(#paint0_linear_447_638)" stroke-width="2" stroke-dasharray="7 8"/>
		<defs>
		<linearGradient id="paint0_linear_447_638" x1="-0.5" y1="-2.18557e-08" x2="-0.500025" y2="573" gradientUnits="userSpaceOnUse">
		<stop stop-color="white" stop-opacity="0"/>
		<stop offset="0.579043" stop-color="white"/>
		<stop offset="1" stop-color="white" stop-opacity="0"/>
		</linearGradient>
		</defs>
		</svg>

mixin columns 
	.columns.icon&attributes(attributes)
		<svg width="30" height="28" viewBox="0 0 30 28" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M27.7778 0H24.4444V4.30769H22.2222V28H30V4.30769H27.7778V0Z" fill="black"/>
		<path d="M13.3333 6.46154H16.6667V10.7692H18.8889V28H11.1111V10.7692H13.3333V6.46154Z" fill="black"/>
		<path d="M5.55556 9.69231H2.22222V14H0V28H7.77778V14H5.55556V9.69231Z" fill="black"/>
		</svg>

mixin line1 
	.line.icon&attributes(attributes)
		<svg width="416" height="21" viewBox="0 0 416 21" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M0.5 0.5L20.2071 20.2071C20.3946 20.3946 20.649 20.5 20.9142 20.5H217.829C218.098 20.5 218.356 20.3916 218.544 20.1993L229.206 9.30071C229.394 9.1084 229.652 9 229.921 9H416" stroke="#383838"/>
		</svg>

mixin line2
	.line.icon&attributes(attributes)
		<svg width="417" height="35" viewBox="0 0 417 35" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M1 1L20.7071 20.7071C20.8946 20.8946 21.149 21 21.4142 21H218.75H316.075C316.346 21 316.607 21.1106 316.795 21.3064L329.205 34.1936C329.393 34.3894 329.654 34.5 329.925 34.5H417" stroke="#383838"/>
		</svg>

mixin line3
	.line.icon&attributes(attributes)
		<svg width="417" height="22" viewBox="0 0 417 22" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M1 1L20.7071 20.7071C20.8946 20.8946 21.149 21 21.4142 21H416.5" stroke="#383838"/>
		</svg>

mixin line4
	.line.icon&attributes(attributes)
		<svg width="417" height="22" viewBox="0 0 417 22" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M1 1L20.7071 20.7071C20.8946 20.8946 21.149 21 21.4142 21H218.75H333.097C333.355 21 333.604 20.8998 333.79 20.7203L346.71 8.27968C346.896 8.10025 347.145 8 347.403 8H416.5" stroke="#383838"/>
		</svg>

mixin lineMap
	.line-map.icon&attributes(attributes)
		<svg width="254" height="604" viewBox="0 0 254 604" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M0 1H120.5C121.052 1 121.5 1.44772 121.5 2V215.086C121.5 215.351 121.605 215.605 121.793 215.793L132.207 226.207C132.395 226.395 132.5 226.649 132.5 226.914V592.586C132.5 592.851 132.605 593.105 132.793 593.293L142.707 603.207C142.895 603.395 143.149 603.5 143.414 603.5H254" stroke="#333333"/>
		<path d="M131 1L131 190.071C131 190.345 131.112 190.607 131.31 190.796L141.21 200.224C141.396 200.401 141.643 200.5 141.9 200.5H246" stroke="#333333"/>
		<path d="M142 212.5V337.586C142 337.851 142.105 338.105 142.293 338.293L150.707 346.707C150.895 346.895 151 347.149 151 347.414V493.086C151 493.351 151.105 493.605 151.293 493.793L158.207 500.707C158.395 500.895 158.5 501.149 158.5 501.414V550.586C158.5 550.851 158.395 551.105 158.207 551.293L152.793 556.707C152.605 556.895 152.5 557.149 152.5 557.414V590" stroke="#333333"/>
		<path d="M0 401H111.086C111.351 401 111.605 400.895 111.793 400.707L121.707 390.793C121.895 390.605 122 390.351 122 390.086V368.414C122 368.149 121.895 367.895 121.707 367.707L115.293 361.293C115.105 361.105 115 360.851 115 360.586V333.414C115 333.149 115.105 332.895 115.293 332.707L122 326" stroke="#333333"/>
		</svg>

mixin lineMapMobile
	.line-map.icon&attributes(attributes)
		<svg width="35" height="891" viewBox="0 0 35 891" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M21.5 0.5H2C1.44772 0.5 1 0.947715 1 1.5V247.586C1 247.851 1.10536 248.105 1.29289 248.293L11.7071 258.707C11.8946 258.895 12 259.149 12 259.414V602.612C12 602.862 12.0933 603.102 12.2615 603.286L22.2385 614.214C22.4067 614.398 22.5 614.638 22.5 614.888V869" stroke="#333333"/>
		<path d="M10.5 12L10.5 243.071C10.5 243.345 10.6122 243.607 10.8103 243.796L20.7103 253.224C20.8963 253.401 21.1432 253.5 21.4 253.5H35" stroke="#333333"/>
		<path d="M1 816.5V880.071C1 880.345 1.11216 880.607 1.31034 880.796L11.2103 890.224C11.3963 890.401 11.6432 890.5 11.9 890.5H25.5" stroke="#333333"/>
		<path d="M22 261V364.086C22 364.351 22.1054 364.605 22.2929 364.793L30.7071 373.207C30.8946 373.395 31 373.649 31 373.914V519.532C31 519.828 30.8682 520.11 30.6402 520.3L22.3598 527.2C22.1318 527.39 22 527.672 22 527.968V572.586C22 572.851 22.1054 573.105 22.2929 573.293L32.2071 583.207C32.3946 583.395 32.5 583.649 32.5 583.914V598.5" stroke="#333333"/>
		<path d="M12 634V745.471C12 745.802 11.8365 746.111 11.5633 746.298L1.43666 753.202C1.16346 753.389 1 753.698 1 754.029V798.586C1 798.851 1.10536 799.105 1.29289 799.293L11.2071 809.207C11.3946 809.395 11.5 809.649 11.5 809.914V824.5" stroke="#333333"/>
		</svg>

mixin arrow
	.arrow.icon&attributes(attributes)
		<svg width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M0 6L6 0V12L0 6Z" fill="#333333"/>
		</svg>

mixin rectangle1
	.advantages-rectangle.icon&attributes(attributes)
		<svg width="810" height="341" viewBox="0 0 810 341" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M0.5 4.99396C0.5 3.06269 2.0643 1.4964 3.99556 1.49395L392.341 1.00113C393.271 0.999949 394.163 1.36878 394.82 2.02626L412.975 20.181C413.819 21.0249 414.963 21.499 416.157 21.499H806C807.933 21.499 809.5 23.066 809.5 24.999V336.999C809.5 338.932 807.933 340.499 806 340.499H3.99998C2.06699 340.499 0.5 338.932 0.5 336.999V4.99396Z" fill="#0D0D0D" stroke="#383838"/>
		</svg>

mixin rectangle1Mobile
	.advantages-rectangle.icon&attributes(attributes)
		<svg width="305" height="490" viewBox="0 0 305 490" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M4.49234 489C2.56196 489 0.996049 487.437 0.992351 485.507L0.50317 230.16C0.501388 229.229 0.870271 228.337 1.52829 227.678L19.682 209.525C20.5259 208.681 21 207.536 21 206.343L21 4C21 2.06702 22.567 0.499999 24.5 0.499999L300.5 0.499987C302.433 0.499987 304 2.067 304 3.99999L304 485.5C304 487.433 302.433 489 300.5 489L4.49234 489Z" fill="#0D0D0D" stroke="#383838"/>
		</svg>

mixin rectangle2
	.offers-rectangle.icon&attributes(attributes)
		<svg width="398" height="509" viewBox="0 0 398 509" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M1 508.5V31L30.5 1H397V483.5H245.5L220.5 508.5H1Z" fill="#0D0D0D" stroke="#383838"/>
		</svg>

mixin rectangle2Mobile
	.offers-rectangle.icon&attributes(attributes)
		<svg width="346" height="509" viewBox="0 0 346 509" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M1 508.5V31L30.5 1H345V483.5H245.5L220.5 508.5H1Z" fill="#0D0D0D" stroke="#383838"/>
		</svg>

mixin offersCircle1
	.offers-circle.icon&attributes(attributes)
		<svg width="294" height="293" viewBox="0 0 294 293" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M293.5 150.868L293.458 152.214L274.938 151.644L274.98 150.298L293.5 150.868Z" fill="#383838"/>
		<path d="M292.894 160.534L292.764 161.875L274.321 160.097L274.451 158.757L292.894 160.534Z" fill="#383838"/>
		<path d="M291.585 170.531L291.362 171.86L273.087 168.817L273.309 167.489L291.585 170.531Z" fill="#383838"/>
		<path d="M289.613 180.297L289.299 181.607L271.277 177.321L271.59 176.011L289.613 180.297Z" fill="#383838"/>
		<path d="M287.116 189.444L286.719 190.731L269.01 185.297L269.408 184.01L287.116 189.444Z" fill="#383838"/>
		<path d="M283.892 198.756L283.408 200.014L266.109 193.397L266.594 192.14L283.892 198.756Z" fill="#383838"/>
		<path d="M279.92 208.09L279.348 209.31L262.563 201.488L263.136 200.268L279.92 208.09Z" fill="#383838"/>
		<path d="M275.489 216.791L274.836 217.97L258.612 209.051L259.265 207.872L275.489 216.791Z" fill="#383838"/>
		<path d="M270.488 225.17L269.759 226.304L254.163 216.334L254.892 215.2L270.488 225.17Z" fill="#383838"/>
		<path d="M264.937 233.2L264.135 234.283L249.231 223.312L250.034 222.229L264.937 233.2Z" fill="#383838"/>
		<path d="M258.722 241.011L257.846 242.036L243.739 230.064L244.615 229.038L258.722 241.011Z" fill="#383838"/>
		<path d="M252.143 248.223L251.202 249.189L237.911 236.323L238.852 235.357L252.143 248.223Z" fill="#383838"/>
		<path d="M245.087 254.996L244.084 255.899L231.665 242.194L232.668 241.292L245.087 254.996Z" fill="#383838"/>
		<path d="M237.47 261.385L236.407 262.216L224.968 247.689L226.031 246.858L237.47 261.385Z" fill="#383838"/>
		<path d="M229.555 267.165L228.439 267.925L217.983 252.681L219.098 251.921L229.555 267.165Z" fill="#383838"/>
		<path d="M221.167 272.467L220.001 273.148L210.635 257.214L211.801 256.534L221.167 272.467Z" fill="#383838"/>
		<path d="M212.528 277.143L211.32 277.745L203.037 261.227L204.246 260.625L212.528 277.143Z" fill="#383838"/>
		<path d="M203.581 281.236L202.335 281.755L195.181 264.721L196.427 264.202L203.581 281.236Z" fill="#383838"/>
		<path d="M194.367 284.72L193.088 285.155L187.104 267.678L188.382 267.243L194.367 284.72Z" fill="#383838"/>
		<path d="M184.93 287.576L183.625 287.923L178.846 270.082L180.152 269.734L184.93 287.576Z" fill="#383838"/>
		<path d="M175.318 289.79L173.991 290.047L170.45 271.921L171.777 271.664L175.318 289.79Z" fill="#383838"/>
		<path d="M165.614 291.345L164.273 291.516L161.924 273.199L163.264 273.028L165.614 291.345Z" fill="#383838"/>
		<path d="M155.786 292.253L154.437 292.331L153.365 273.896L154.714 273.818L155.786 292.253Z" fill="#383838"/>
		<path d="M145.377 292.5L144.026 292.484L144.24 274.02L145.592 274.035L145.377 292.5Z" fill="#383838"/>
		<path d="M135.553 292.067L134.206 291.963L135.634 273.552L136.981 273.656L135.553 292.067Z" fill="#383838"/>
		<path d="M125.785 290.983L124.447 290.792L127.079 272.513L128.416 272.705L125.785 290.983Z" fill="#383838"/>
		<path d="M116.079 289.243L114.757 288.96L118.645 270.905L119.966 271.188L116.079 289.243Z" fill="#383838"/>
		<path d="M106.516 286.853L105.217 286.481L110.334 268.733L111.633 269.105L106.516 286.853Z" fill="#383838"/>
		<path d="M97.144 283.825L95.8736 283.366L102.187 266.005L103.457 266.464L97.144 283.825Z" fill="#383838"/>
		<path d="M88.008 280.176L86.7715 279.633L94.2433 262.735L95.4798 263.278L88.008 280.176Z" fill="#383838"/>
		<path d="M79.1517 275.926L77.9544 275.302L86.5421 258.939L87.7395 259.563L79.1517 275.926Z" fill="#383838"/>
		<path d="M70.6163 271.102L69.4631 270.4L79.121 254.641L80.2742 255.342L70.6163 271.102Z" fill="#383838"/>
		<path d="M62.3378 265.659L61.2364 264.878L71.9711 249.827L73.0725 250.607L62.3378 265.659Z" fill="#383838"/>
		<path d="M54.545 259.751L53.4973 258.9L65.1998 244.583L66.2475 245.434L54.545 259.751Z" fill="#383838"/>
		<path d="M47.1784 253.353L46.1889 252.436L58.8061 238.913L59.7957 239.83L47.1784 253.353Z" fill="#383838"/>
		<path d="M40.1371 246.36L39.2134 245.377L52.7367 232.754L53.6604 233.737L40.1371 246.36Z" fill="#383838"/>
		<path d="M33.7021 239.052L32.8449 238.011L47.1678 226.296L48.025 227.337L33.7021 239.052Z" fill="#383838"/>
		<path d="M27.6332 231.15L26.8504 230.052L41.9529 219.354L42.7357 220.451L27.6332 231.15Z" fill="#383838"/>
		<path d="M22.2352 223.045L21.5266 221.898L37.3038 212.215L38.0123 213.362L22.2352 223.045Z" fill="#383838"/>
		<path d="M17.3904 214.6L16.7597 213.409L33.1464 204.79L33.7771 205.981L17.3904 214.6Z" fill="#383838"/>
		<path d="M13.1178 205.842L12.5683 204.612L29.4958 197.103L30.0453 198.333L13.1178 205.842Z" fill="#383838"/>
		<path d="M9.43509 196.797L8.96989 195.532L26.3661 189.175L26.8313 190.439L9.43509 196.797Z" fill="#383838"/>
		<path d="M6.35927 187.484L5.98119 186.191L23.77 181.025L24.1481 182.318L6.35927 187.484Z" fill="#383838"/>
		<path d="M3.90796 177.922L3.61942 176.606L21.7209 172.663L22.0094 173.978L3.90796 177.922Z" fill="#383838"/>
		<path d="M2.09995 168.121L1.9029 166.789L20.2337 164.096L20.4307 165.428L2.09995 168.121Z" fill="#383838"/>
		<path d="M0.999419 158.613L0.890089 157.27L19.3582 155.776L19.4675 157.119L0.999419 158.613Z" fill="#383838"/>
		<path d="M0.520863 148.967L0.5 147.62L19.0266 147.335L19.0475 148.682L0.520863 148.967Z" fill="#383838"/>
		<path d="M0.7366 138.107L0.814763 136.763L19.3126 137.831L19.2344 139.175L0.7366 138.107Z" fill="#383838"/>
		<path d="M1.59099 128.57L1.7572 127.234L20.1454 129.505L19.9791 130.842L1.59099 128.57Z" fill="#383838"/>
		<path d="M3.16444 118.617L3.42268 117.296L21.61 120.825L21.3518 122.147L3.16444 118.617Z" fill="#383838"/>
		<path d="M5.22573 109.552L5.56926 108.249L23.4893 112.944L23.1458 114.246L5.22573 109.552Z" fill="#383838"/>
		<path d="M8.04237 100.107L8.474 98.8305L26.0321 104.729L25.6005 106.005L8.04237 100.107Z" fill="#383838"/>
		<path d="M11.4616 90.958L11.9786 89.7139L29.0972 96.78L28.5802 98.0242L11.4616 90.958Z" fill="#383838"/>
		<path d="M15.4529 82.134L16.0524 80.9272L32.6577 89.12L32.0582 90.3269L15.4529 82.134Z" fill="#383838"/>
		<path d="M20.3851 72.9763L21.0681 71.8143L37.0559 81.1479L36.3729 82.3099L20.3851 72.9763Z" fill="#383838"/>
		<path d="M25.4902 64.8771L26.2487 63.7626L41.5831 74.128L40.8246 75.2425L25.4902 64.8771Z" fill="#383838"/>
		<path d="M31.0819 57.171L31.9122 56.1086L46.5302 67.4556L45.6999 68.518L31.0819 57.171Z" fill="#383838"/>
		<path d="M37.714 49.2263L38.616 48.2236L52.4122 60.5502L51.5102 61.5529L37.714 49.2263Z" fill="#383838"/>
		<path d="M44.2635 42.3752L45.2293 41.4334L58.1876 54.6323L57.2218 55.5741L44.2635 42.3752Z" fill="#383838"/>
		<path d="M51.2308 35.9684L52.2563 35.0915L64.321 49.1066L63.2954 49.9835L51.2308 35.9684Z" fill="#383838"/>
		<path d="M59.3505 29.4579L60.4344 28.6539L71.4975 43.4671L70.4135 44.2711L59.3505 29.4579Z" fill="#383838"/>
		<path d="M67.1565 24.0227L68.2912 23.2915L78.3523 38.798L77.2176 39.5293L67.1565 24.0227Z" fill="#383838"/>
		<path d="M75.3341 19.0848L76.5149 18.43L85.5244 34.566L84.3437 35.2208L75.3341 19.0848Z" fill="#383838"/>
		<path d="M84.781 14.2367L86.0051 13.6662L93.8538 30.3937L92.6297 30.9641L84.781 14.2367Z" fill="#383838"/>
		<path d="M93.7204 10.4073L94.9801 9.92007L101.684 27.1349L100.424 27.6222L93.7204 10.4073Z" fill="#383838"/>
		<path d="M103.007 7.14767L104.297 6.7465L109.816 24.3741L108.526 24.7752L103.007 7.14767Z" fill="#383838"/>
		<path d="M112.636 4.48666L113.95 4.17409L118.251 22.1358L116.937 22.4483L112.636 4.48666Z" fill="#383838"/>
		<path d="M121.542 2.64039L122.874 2.41343L125.997 20.6152L124.665 20.8422L121.542 2.64039Z" fill="#383838"/>
		<path d="M131.817 1.21696L133.162 1.08218L135.016 19.4554L133.672 19.5902L131.817 1.21696Z" fill="#383838"/>
		<path d="M141.314 0.546767L142.664 0.5L143.308 18.9548L141.957 19.0016L141.314 0.546767Z" fill="#383838"/>
		<path d="M151.604 0.50727L152.954 0.554037L152.311 19.0089L150.96 18.9621L151.604 0.50727Z" fill="#383838"/>
		<path d="M162.197 1.21262L163.541 1.35254L161.616 19.7185L160.272 19.5786L162.197 1.21262Z" fill="#383838"/>
		<path d="M171.401 2.4493L172.733 2.67627L169.61 20.8781L168.278 20.6511L171.401 2.4493Z" fill="#383838"/>
		<path d="M181.363 4.47079L182.676 4.78835L178.307 22.7336L176.993 22.416L181.363 4.47079Z" fill="#383838"/>
		<path d="M190.988 7.12587L192.277 7.5319L186.69 25.1385L185.402 24.7325L190.988 7.12587Z" fill="#383838"/>
		<path d="M200.274 10.3803L201.532 10.8723L194.764 28.062L193.506 27.57L200.274 10.3803Z" fill="#383838"/>
		<path d="M209.216 14.2046L210.438 14.7796L202.527 31.4778L201.305 30.9029L209.216 14.2046Z" fill="#383838"/>
		<path d="M217.809 18.5735L218.99 19.2283L209.98 35.3643L208.799 34.7095L217.809 18.5735Z" fill="#383838"/>
		<path d="M226.044 23.4658L227.178 24.197L217.117 39.7035L215.983 38.9723L226.044 23.4658Z" fill="#383838"/>
		<path d="M234.666 29.4223L235.747 30.2303L224.63 45.0032L223.549 44.1952L234.666 29.4223Z" fill="#383838"/>
		<path d="M242.098 35.3392L243.124 36.216L231.059 50.2311L230.033 49.3543L242.098 35.3392Z" fill="#383838"/>
		<path d="M249.132 41.722L250.098 42.6638L237.139 55.8628L236.174 54.921L249.132 41.722Z" fill="#383838"/>
		<path d="M256.331 49.2042L257.229 50.2102L243.388 62.4867L242.49 61.4807L256.331 49.2042Z" fill="#383838"/>
		<path d="M262.453 56.4931L263.283 57.5555L248.665 68.9025L247.835 67.8401L262.453 56.4931Z" fill="#383838"/>
		<path d="M268.113 64.1978L268.871 65.3123L253.537 75.6777L252.778 74.5632L268.113 64.1978Z" fill="#383838"/>
		<path d="M273.687 72.988L274.366 74.1525L258.344 83.4274L257.665 82.2629L273.687 72.988Z" fill="#383838"/>
		<path d="M278.285 81.4769L278.885 82.6838L262.28 90.8766L261.68 89.6698L278.285 81.4769Z" fill="#383838"/>
		<path d="M282.339 90.3217L282.856 91.5659L265.738 98.632L265.22 97.3879L282.339 90.3217Z" fill="#383838"/>
		<path d="M285.817 99.4982L286.249 100.774L268.69 106.673L268.259 105.397L285.817 99.4982Z" fill="#383838"/>
		<path d="M288.688 108.977L289.031 110.28L271.111 114.974L270.768 113.672L288.688 108.977Z" fill="#383838"/>
		<path d="M290.921 118.724L291.175 120.047L272.974 123.507L272.721 122.184L290.921 118.724Z" fill="#383838"/>
		<path d="M292.413 128.077L292.579 129.413L274.191 131.685L274.025 130.348L292.413 128.077Z" fill="#383838"/>
		<path d="M293.337 138.259L293.41 139.603L274.908 140.6L274.835 139.256L293.337 138.259Z" fill="#383838"/>
		<path data-circle-path-white d="M162.197 1.21289L163.541 1.35282L161.616 19.7188L160.272 19.5789L162.197 1.21289Z" fill="white" opacity="0"/>
		<path data-circle-path-white d="M171.401 2.44958L172.733 2.67654L169.61 20.8783L168.278 20.6514L171.401 2.44958Z" fill="white"  opacity="0"/>
		<path data-circle-path-white d="M181.363 4.47107L182.676 4.78862L178.307 22.7338L176.993 22.4163L181.363 4.47107Z" fill="white" opacity="0"/>
		<path data-circle-path-white d="M190.988 7.12615L192.277 7.53217L186.69 25.1388L185.402 24.7328L190.988 7.12615Z" fill="white" opacity="0"/>
		<path data-circle-path-white d="M200.274 10.3806L201.532 10.8725L194.763 28.0623L193.506 27.5703L200.274 10.3806Z" fill="white" opacity="0"/>
		<path data-circle-path-white d="M209.216 14.2049L210.438 14.7799L202.527 31.4781L201.305 30.9031L209.216 14.2049Z" fill="white" opacity="0"/>
		<path data-circle-path-white d="M217.809 18.5738L218.989 19.2286L209.98 35.3646L208.799 34.7098L217.809 18.5738Z" fill="white" opacity="0"/>
		<path data-circle-path-white d="M226.044 23.466L227.178 24.1973L217.117 39.7038L215.983 38.9726L226.044 23.466Z" fill="white" opacity="0"/>
		<path data-circle-path-white d="M234.666 29.4226L235.747 30.2306L224.629 45.0034L223.548 44.1954L234.666 29.4226Z" fill="white" opacity="0"/>
		<path data-circle-path-white d="M242.098 35.3395L243.123 36.2163L231.059 50.2314L230.033 49.3545L242.098 35.3395Z" fill="white" opacity="0"/>
		<path data-circle-path-white d="M249.132 41.7223L250.098 42.6641L237.139 55.8631L236.173 54.9213L249.132 41.7223Z" fill="white" opacity="0"/>
		<path data-circle-path-white d="M256.331 49.2045L257.229 50.2104L243.388 62.487L242.49 61.481L256.331 49.2045Z" fill="white" opacity="0"/>
		<path data-circle-path-white d="M262.453 56.4933L263.283 57.5558L248.665 68.9028L247.835 67.8404L262.453 56.4933Z" fill="white" opacity="0"/>
		<path data-circle-path-white d="M268.113 64.1981L268.871 65.3126L253.537 75.678L252.778 74.5635L268.113 64.1981Z" fill="white" opacity="0"/>
		<path data-circle-path-white d="M273.687 72.9883L274.366 74.1528L258.343 83.4276L257.665 82.2632L273.687 72.9883Z" fill="white" opacity="0"/>
		</svg>

mixin offersCircle2
	.offers-circle.icon&attributes(attributes)
		<svg width="293" height="293" viewBox="0 0 293 293" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M293 150.868L292.958 152.214L274.438 151.644L274.48 150.298L293 150.868Z" fill="#383838"/>
		<path d="M292.394 160.534L292.264 161.875L273.821 160.097L273.951 158.757L292.394 160.534Z" fill="#383838"/>
		<path d="M291.085 170.531L290.862 171.86L272.587 168.817L272.809 167.489L291.085 170.531Z" fill="#383838"/>
		<path d="M289.113 180.297L288.799 181.607L270.777 177.321L271.09 176.011L289.113 180.297Z" fill="#383838"/>
		<path d="M286.616 189.444L286.219 190.731L268.51 185.297L268.908 184.01L286.616 189.444Z" fill="#383838"/>
		<path d="M283.392 198.756L282.908 200.014L265.609 193.397L266.094 192.14L283.392 198.756Z" fill="#383838"/>
		<path d="M279.42 208.09L278.848 209.31L262.063 201.488L262.636 200.268L279.42 208.09Z" fill="#383838"/>
		<path d="M274.989 216.791L274.336 217.97L258.112 209.051L258.765 207.872L274.989 216.791Z" fill="#383838"/>
		<path d="M269.988 225.17L269.259 226.304L253.663 216.334L254.392 215.2L269.988 225.17Z" fill="#383838"/>
		<path d="M264.437 233.2L263.635 234.283L248.731 223.312L249.534 222.229L264.437 233.2Z" fill="#383838"/>
		<path d="M258.222 241.011L257.346 242.036L243.239 230.064L244.115 229.038L258.222 241.011Z" fill="#383838"/>
		<path d="M251.643 248.223L250.702 249.189L237.411 236.323L238.352 235.357L251.643 248.223Z" fill="#383838"/>
		<path d="M244.587 254.996L243.584 255.899L231.165 242.194L232.168 241.292L244.587 254.996Z" fill="#383838"/>
		<path d="M236.97 261.385L235.907 262.216L224.468 247.689L225.531 246.858L236.97 261.385Z" fill="#383838"/>
		<path d="M229.055 267.165L227.939 267.925L217.483 252.681L218.598 251.921L229.055 267.165Z" fill="#383838"/>
		<path d="M220.667 272.467L219.501 273.148L210.135 257.214L211.301 256.534L220.667 272.467Z" fill="#383838"/>
		<path d="M212.028 277.143L210.82 277.745L202.537 261.227L203.746 260.625L212.028 277.143Z" fill="#383838"/>
		<path d="M203.081 281.236L201.835 281.755L194.681 264.721L195.927 264.202L203.081 281.236Z" fill="#383838"/>
		<path d="M193.867 284.72L192.588 285.155L186.604 267.678L187.882 267.243L193.867 284.72Z" fill="#383838"/>
		<path d="M184.43 287.576L183.125 287.923L178.346 270.082L179.652 269.734L184.43 287.576Z" fill="#383838"/>
		<path d="M174.818 289.79L173.491 290.047L169.95 271.921L171.277 271.664L174.818 289.79Z" fill="#383838"/>
		<path d="M165.114 291.345L163.773 291.516L161.424 273.199L162.764 273.028L165.114 291.345Z" fill="#383838"/>
		<path d="M155.286 292.253L153.937 292.331L152.865 273.896L154.214 273.818L155.286 292.253Z" fill="#383838"/>
		<path d="M144.877 292.5L143.526 292.484L143.74 274.02L145.092 274.035L144.877 292.5Z" fill="#383838"/>
		<path d="M135.053 292.067L133.706 291.963L135.134 273.552L136.481 273.656L135.053 292.067Z" fill="#383838"/>
		<path d="M125.285 290.983L123.947 290.792L126.579 272.513L127.916 272.705L125.285 290.983Z" fill="#383838"/>
		<path d="M115.579 289.243L114.257 288.96L118.145 270.905L119.466 271.188L115.579 289.243Z" fill="#383838"/>
		<path d="M106.016 286.853L104.717 286.481L109.834 268.733L111.133 269.105L106.016 286.853Z" fill="#383838"/>
		<path d="M96.644 283.825L95.3736 283.366L101.687 266.005L102.957 266.464L96.644 283.825Z" fill="#383838"/>
		<path d="M87.508 280.176L86.2715 279.633L93.7433 262.735L94.9798 263.278L87.508 280.176Z" fill="#383838"/>
		<path d="M78.6517 275.926L77.4544 275.302L86.0421 258.939L87.2395 259.563L78.6517 275.926Z" fill="#383838"/>
		<path d="M70.1163 271.102L68.9631 270.4L78.621 254.641L79.7742 255.342L70.1163 271.102Z" fill="#383838"/>
		<path d="M61.8378 265.659L60.7364 264.878L71.4711 249.827L72.5725 250.607L61.8378 265.659Z" fill="#383838"/>
		<path d="M54.045 259.751L52.9973 258.9L64.6998 244.583L65.7475 245.434L54.045 259.751Z" fill="#383838"/>
		<path d="M46.6784 253.353L45.6889 252.436L58.3061 238.913L59.2957 239.83L46.6784 253.353Z" fill="#383838"/>
		<path d="M39.6371 246.36L38.7134 245.377L52.2367 232.754L53.1604 233.737L39.6371 246.36Z" fill="#383838"/>
		<path d="M33.2021 239.052L32.3449 238.011L46.6678 226.296L47.525 227.337L33.2021 239.052Z" fill="#383838"/>
		<path d="M27.1332 231.15L26.3504 230.052L41.4529 219.354L42.2357 220.451L27.1332 231.15Z" fill="#383838"/>
		<path d="M21.7352 223.045L21.0266 221.898L36.8038 212.215L37.5123 213.362L21.7352 223.045Z" fill="#383838"/>
		<path d="M16.8904 214.6L16.2597 213.409L32.6464 204.79L33.2771 205.981L16.8904 214.6Z" fill="#383838"/>
		<path d="M12.6178 205.842L12.0683 204.612L28.9958 197.103L29.5453 198.333L12.6178 205.842Z" fill="#383838"/>
		<path d="M8.93509 196.797L8.46989 195.532L25.8661 189.175L26.3313 190.439L8.93509 196.797Z" fill="#383838"/>
		<path d="M5.85927 187.484L5.48119 186.191L23.27 181.025L23.6481 182.318L5.85927 187.484Z" fill="#383838"/>
		<path d="M3.40796 177.922L3.11942 176.606L21.2209 172.663L21.5094 173.978L3.40796 177.922Z" fill="#383838"/>
		<path d="M1.59995 168.121L1.4029 166.789L19.7337 164.096L19.9307 165.428L1.59995 168.121Z" fill="#383838"/>
		<path d="M0.499419 158.613L0.390089 157.27L18.8582 155.776L18.9675 157.119L0.499419 158.613Z" fill="#383838"/>
		<path d="M0.0208627 148.967L0 147.62L18.5266 147.335L18.5475 148.682L0.0208627 148.967Z" fill="#383838"/>
		<path d="M0.2366 138.107L0.314763 136.763L18.8126 137.831L18.7344 139.175L0.2366 138.107Z" fill="#383838"/>
		<path d="M1.09099 128.57L1.2572 127.234L19.6454 129.505L19.4791 130.842L1.09099 128.57Z" fill="#383838"/>
		<path d="M2.66444 118.617L2.92268 117.296L21.11 120.825L20.8518 122.147L2.66444 118.617Z" fill="#383838"/>
		<path d="M4.72573 109.552L5.06926 108.249L22.9893 112.944L22.6458 114.246L4.72573 109.552Z" fill="#383838"/>
		<path d="M7.54237 100.107L7.974 98.8305L25.5321 104.729L25.1005 106.005L7.54237 100.107Z" fill="#383838"/>
		<path d="M10.9616 90.958L11.4786 89.7139L28.5972 96.78L28.0802 98.0242L10.9616 90.958Z" fill="#383838"/>
		<path d="M14.9529 82.134L15.5524 80.9272L32.1577 89.12L31.5582 90.3269L14.9529 82.134Z" fill="#383838"/>
		<path d="M19.8851 72.9763L20.5681 71.8143L36.5559 81.1479L35.8729 82.3099L19.8851 72.9763Z" fill="#383838"/>
		<path d="M24.9902 64.8771L25.7487 63.7626L41.0831 74.128L40.3246 75.2425L24.9902 64.8771Z" fill="#383838"/>
		<path d="M30.5819 57.171L31.4122 56.1086L46.0302 67.4556L45.1999 68.518L30.5819 57.171Z" fill="#383838"/>
		<path d="M37.214 49.2263L38.116 48.2236L51.9122 60.5502L51.0102 61.5529L37.214 49.2263Z" fill="#383838"/>
		<path d="M43.7635 42.3752L44.7293 41.4334L57.6876 54.6323L56.7218 55.5741L43.7635 42.3752Z" fill="#383838"/>
		<path d="M50.7308 35.9684L51.7563 35.0915L63.821 49.1066L62.7954 49.9835L50.7308 35.9684Z" fill="#383838"/>
		<path d="M58.8505 29.4579L59.9344 28.6539L70.9975 43.4671L69.9135 44.2711L58.8505 29.4579Z" fill="#383838"/>
		<path d="M66.6565 24.0227L67.7912 23.2915L77.8523 38.798L76.7176 39.5293L66.6565 24.0227Z" fill="#383838"/>
		<path d="M74.8341 19.0848L76.0149 18.43L85.0244 34.566L83.8437 35.2208L74.8341 19.0848Z" fill="#383838"/>
		<path d="M84.281 14.2367L85.5051 13.6662L93.3538 30.3937L92.1297 30.9641L84.281 14.2367Z" fill="#383838"/>
		<path d="M93.2204 10.4073L94.4801 9.92007L101.184 27.1349L99.9244 27.6222L93.2204 10.4073Z" fill="#383838"/>
		<path d="M102.507 7.14767L103.797 6.7465L109.316 24.3741L108.026 24.7752L102.507 7.14767Z" fill="#383838"/>
		<path d="M112.136 4.48666L113.45 4.17409L117.751 22.1358L116.437 22.4483L112.136 4.48666Z" fill="#383838"/>
		<path d="M121.042 2.64039L122.374 2.41343L125.497 20.6152L124.165 20.8422L121.042 2.64039Z" fill="#383838"/>
		<path d="M131.317 1.21696L132.662 1.08218L134.516 19.4554L133.172 19.5902L131.317 1.21696Z" fill="#383838"/>
		<path d="M140.814 0.546767L142.164 0.5L142.808 18.9548L141.457 19.0016L140.814 0.546767Z" fill="#383838"/>
		<path d="M151.104 0.50727L152.454 0.554037L151.811 19.0089L150.46 18.9621L151.104 0.50727Z" fill="#383838"/>
		<path d="M161.697 1.21262L163.041 1.35254L161.116 19.7185L159.772 19.5786L161.697 1.21262Z" fill="#383838"/>
		<path d="M170.901 2.4493L172.233 2.67627L169.11 20.8781L167.778 20.6511L170.901 2.4493Z" fill="#383838"/>
		<path d="M180.863 4.47079L182.176 4.78835L177.807 22.7336L176.493 22.416L180.863 4.47079Z" fill="#383838"/>
		<path d="M190.488 7.12587L191.777 7.5319L186.19 25.1385L184.902 24.7325L190.488 7.12587Z" fill="#383838"/>
		<path d="M199.774 10.3803L201.032 10.8723L194.264 28.062L193.006 27.57L199.774 10.3803Z" fill="#383838"/>
		<path d="M208.716 14.2046L209.938 14.7796L202.027 31.4778L200.805 30.9029L208.716 14.2046Z" fill="#383838"/>
		<path d="M217.309 18.5735L218.49 19.2283L209.48 35.3643L208.299 34.7095L217.309 18.5735Z" fill="#383838"/>
		<path d="M225.544 23.4658L226.678 24.197L216.617 39.7035L215.483 38.9723L225.544 23.4658Z" fill="#383838"/>
		<path d="M234.166 29.4223L235.247 30.2303L224.13 45.0032L223.049 44.1952L234.166 29.4223Z" fill="#383838"/>
		<path d="M241.598 35.3392L242.624 36.216L230.559 50.2311L229.533 49.3543L241.598 35.3392Z" fill="#383838"/>
		<path d="M248.632 41.722L249.598 42.6638L236.639 55.8628L235.674 54.921L248.632 41.722Z" fill="#383838"/>
		<path d="M255.831 49.2042L256.729 50.2102L242.888 62.4867L241.99 61.4807L255.831 49.2042Z" fill="#383838"/>
		<path d="M261.953 56.4931L262.783 57.5555L248.165 68.9025L247.335 67.8401L261.953 56.4931Z" fill="#383838"/>
		<path d="M267.613 64.1978L268.371 65.3123L253.037 75.6777L252.278 74.5632L267.613 64.1978Z" fill="#383838"/>
		<path d="M273.187 72.988L273.866 74.1525L257.844 83.4274L257.165 82.2629L273.187 72.988Z" fill="#383838"/>
		<path d="M277.785 81.4769L278.385 82.6838L261.78 90.8766L261.18 89.6698L277.785 81.4769Z" fill="#383838"/>
		<path d="M281.839 90.3217L282.356 91.5659L265.238 98.632L264.72 97.3879L281.839 90.3217Z" fill="#383838"/>
		<path d="M285.317 99.4982L285.749 100.774L268.19 106.673L267.759 105.397L285.317 99.4982Z" fill="#383838"/>
		<path d="M288.188 108.977L288.531 110.28L270.611 114.974L270.268 113.672L288.188 108.977Z" fill="#383838"/>
		<path d="M290.421 118.724L290.675 120.047L272.474 123.507L272.221 122.184L290.421 118.724Z" fill="#383838"/>
		<path d="M291.913 128.077L292.079 129.413L273.691 131.685L273.525 130.348L291.913 128.077Z" fill="#383838"/>
		<path d="M292.837 138.259L292.91 139.603L274.408 140.6L274.335 139.256L292.837 138.259Z" fill="#383838"/>
		<path data-circle-path-yellow d="M291.077 170.579L286.124 169.706L291.085 170.531L291.077 170.579Z" fill="#E8F368" opacity="0"/>
		<path data-circle-path-yellow d="M152.454 0.55403L151.104 0.507263L150.46 18.9621L151.811 19.0089L152.454 0.55403Z" fill="#E8F368" opacity="0"/>
		<path data-circle-path-yellow d="M161.697 1.21261L163.041 1.35254L161.116 19.7185L159.772 19.5786L161.697 1.21261Z" fill="#E8F368" opacity="0"/>
		<path data-circle-path-yellow d="M172.233 2.67626L170.901 2.4493L167.778 20.6511L169.11 20.8781L172.233 2.67626Z" fill="#E8F368" opacity="0"/>
		<path data-circle-path-yellow d="M180.863 4.47079L182.176 4.78834L177.807 22.7336L176.493 22.416L180.863 4.47079Z" fill="#E8F368" opacity="0"/>
		<path data-circle-path-yellow d="M191.777 7.53189L190.488 7.12586L184.902 24.7325L186.19 25.1385L191.777 7.53189Z" fill="#E8F368" opacity="0"/>
		<path data-circle-path-yellow d="M199.774 10.3803L201.032 10.8723L194.264 28.062L193.006 27.57L199.774 10.3803Z" fill="#E8F368" opacity="0"/>
		<path data-circle-path-yellow d="M209.938 14.7796L208.716 14.2046L200.805 30.9029L202.027 31.4778L209.938 14.7796Z" fill="#E8F368" opacity="0"/>
		<path data-circle-path-yellow d="M217.309 18.5735L218.49 19.2283L209.48 35.3643L208.299 34.7095L217.309 18.5735Z" fill="#E8F368" opacity="0"/>
		<path data-circle-path-yellow d="M226.678 24.197L225.544 23.4658L215.483 38.9723L216.617 39.7035L226.678 24.197Z" fill="#E8F368" opacity="0"/>
		<path data-circle-path-yellow d="M234.166 29.4223L235.247 30.2303L224.13 45.0032L223.049 44.1952L234.166 29.4223Z" fill="#E8F368" opacity="0"/>
		<path data-circle-path-yellow d="M242.623 36.216L241.598 35.3392L229.533 49.3543L230.559 50.2311L242.623 36.216Z" fill="#E8F368" opacity="0"/>
		<path data-circle-path-yellow d="M248.632 41.722L249.598 42.6638L236.639 55.8628L235.674 54.921L248.632 41.722Z" fill="#E8F368" opacity="0"/>
		<path data-circle-path-yellow d="M256.729 50.2101L255.831 49.2042L241.99 61.4807L242.888 62.4867L256.729 50.2101Z" fill="#E8F368" opacity="0"/>
		<path data-circle-path-yellow d="M261.953 56.4931L262.783 57.5555L248.165 68.9025L247.335 67.8401L261.953 56.4931Z" fill="#E8F368" opacity="0"/>
		<path data-circle-path-yellow d="M268.371 65.3123L267.613 64.1978L252.278 74.5632L253.037 75.6777L268.371 65.3123Z" fill="#E8F368" opacity="0"/>
		<path data-circle-path-yellow d="M273.187 72.988L273.866 74.1525L257.843 83.4274L257.165 82.2629L273.187 72.988Z" fill="#E8F368" opacity="0"/>
		<path data-circle-path-yellow d="M278.385 82.6838L277.785 81.4769L261.18 89.6698L261.78 90.8766L278.385 82.6838Z" fill="#E8F368" opacity="0"/>
		<path data-circle-path-yellow d="M281.839 90.3217L282.356 91.5659L265.238 98.632L264.72 97.3879L281.839 90.3217Z" fill="#E8F368" opacity="0"/>
		<path data-circle-path-yellow d="M285.749 100.774L285.317 99.4981L267.759 105.397L268.19 106.673L285.749 100.774Z" fill="#E8F368" opacity="0"/>
		<path data-circle-path-yellow d="M288.188 108.977L288.531 110.28L270.611 114.974L270.268 113.672L288.188 108.977Z" fill="#E8F368" opacity="0"/>
		<path data-circle-path-yellow d="M290.675 120.047L290.421 118.724L272.221 122.184L272.474 123.507L290.675 120.047Z" fill="#E8F368" opacity="0"/>
		<path data-circle-path-yellow d="M291.913 128.077L292.079 129.413L273.691 131.685L273.525 130.348L291.913 128.077Z" fill="#E8F368" opacity="0"/>
		<path data-circle-path-yellow d="M292.91 139.603L292.837 138.259L274.335 139.256L274.408 140.6L292.91 139.603Z" fill="#E8F368" opacity="0"/>
		<path data-circle-path-yellow d="M293 150.868L292.958 152.214L274.438 151.644L274.48 150.298L293 150.868Z" fill="#E8F368" opacity="0"/>
		<path data-circle-path-yellow d="M292.394 160.534L292.264 161.875L273.821 160.097L273.951 158.757L292.394 160.534Z" fill="#E8F368" opacity="0"/>
		</svg>

mixin offersCircle3
	.offers-circle.icon&attributes(attributes)
		<svg width="293" height="293" viewBox="0 0 293 293" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M293 150.868L292.958 152.214L274.438 151.644L274.48 150.298L293 150.868Z" fill="#383838"/>
		<path d="M292.394 160.534L292.264 161.875L273.821 160.097L273.951 158.757L292.394 160.534Z" fill="#383838"/>
		<path d="M291.085 170.531L290.862 171.86L272.587 168.817L272.809 167.489L291.085 170.531Z" fill="#383838"/>
		<path d="M289.113 180.297L288.799 181.607L270.777 177.321L271.09 176.011L289.113 180.297Z" fill="#383838"/>
		<path d="M286.616 189.444L286.219 190.731L268.51 185.297L268.908 184.01L286.616 189.444Z" fill="#383838"/>
		<path d="M283.392 198.756L282.908 200.014L265.609 193.397L266.094 192.14L283.392 198.756Z" fill="#383838"/>
		<path d="M279.42 208.09L278.848 209.31L262.063 201.488L262.636 200.268L279.42 208.09Z" fill="#383838"/>
		<path d="M274.989 216.791L274.336 217.97L258.112 209.051L258.765 207.872L274.989 216.791Z" fill="#383838"/>
		<path d="M269.988 225.17L269.259 226.304L253.663 216.334L254.392 215.2L269.988 225.17Z" fill="#383838"/>
		<path d="M264.437 233.2L263.635 234.283L248.731 223.312L249.534 222.229L264.437 233.2Z" fill="#383838"/>
		<path d="M258.222 241.011L257.346 242.036L243.239 230.064L244.115 229.038L258.222 241.011Z" fill="#383838"/>
		<path d="M251.643 248.223L250.702 249.189L237.411 236.323L238.352 235.357L251.643 248.223Z" fill="#383838"/>
		<path d="M244.587 254.996L243.584 255.899L231.165 242.194L232.168 241.292L244.587 254.996Z" fill="#383838"/>
		<path d="M236.97 261.385L235.907 262.216L224.468 247.689L225.531 246.858L236.97 261.385Z" fill="#383838"/>
		<path d="M229.055 267.165L227.939 267.925L217.483 252.681L218.598 251.921L229.055 267.165Z" fill="#383838"/>
		<path d="M220.667 272.467L219.501 273.148L210.135 257.214L211.301 256.534L220.667 272.467Z" fill="#383838"/>
		<path d="M212.028 277.143L210.82 277.745L202.537 261.227L203.746 260.625L212.028 277.143Z" fill="#383838"/>
		<path d="M203.081 281.236L201.835 281.755L194.681 264.721L195.927 264.202L203.081 281.236Z" fill="#383838"/>
		<path d="M193.867 284.72L192.588 285.155L186.604 267.678L187.882 267.243L193.867 284.72Z" fill="#383838"/>
		<path d="M184.43 287.576L183.125 287.923L178.346 270.082L179.652 269.734L184.43 287.576Z" fill="#383838"/>
		<path d="M174.818 289.79L173.491 290.047L169.95 271.921L171.277 271.664L174.818 289.79Z" fill="#383838"/>
		<path d="M165.114 291.345L163.773 291.516L161.424 273.199L162.764 273.028L165.114 291.345Z" fill="#383838"/>
		<path d="M155.286 292.253L153.937 292.331L152.865 273.896L154.214 273.818L155.286 292.253Z" fill="#383838"/>
		<path d="M144.877 292.5L143.526 292.484L143.74 274.02L145.092 274.035L144.877 292.5Z" fill="#383838"/>
		<path d="M135.053 292.067L133.706 291.963L135.134 273.552L136.481 273.656L135.053 292.067Z" fill="#383838"/>
		<path d="M125.285 290.983L123.947 290.792L126.579 272.513L127.916 272.705L125.285 290.983Z" fill="#383838"/>
		<path d="M115.579 289.243L114.257 288.96L118.145 270.905L119.466 271.188L115.579 289.243Z" fill="#383838"/>
		<path d="M106.016 286.853L104.717 286.481L109.834 268.733L111.133 269.105L106.016 286.853Z" fill="#383838"/>
		<path d="M96.644 283.825L95.3736 283.366L101.687 266.005L102.957 266.464L96.644 283.825Z" fill="#383838"/>
		<path d="M87.508 280.176L86.2715 279.633L93.7433 262.735L94.9798 263.278L87.508 280.176Z" fill="#383838"/>
		<path d="M78.6517 275.926L77.4544 275.302L86.0421 258.939L87.2395 259.563L78.6517 275.926Z" fill="#383838"/>
		<path d="M70.1163 271.102L68.9631 270.4L78.621 254.641L79.7742 255.342L70.1163 271.102Z" fill="#383838"/>
		<path d="M61.8378 265.659L60.7364 264.878L71.4711 249.827L72.5725 250.607L61.8378 265.659Z" fill="#383838"/>
		<path d="M54.045 259.751L52.9973 258.9L64.6998 244.583L65.7475 245.434L54.045 259.751Z" fill="#383838"/>
		<path d="M46.6784 253.353L45.6889 252.436L58.3061 238.913L59.2957 239.83L46.6784 253.353Z" fill="#383838"/>
		<path d="M39.6371 246.36L38.7134 245.377L52.2367 232.754L53.1604 233.737L39.6371 246.36Z" fill="#383838"/>
		<path d="M33.2021 239.052L32.3449 238.011L46.6678 226.296L47.525 227.337L33.2021 239.052Z" fill="#383838"/>
		<path d="M27.1332 231.15L26.3504 230.052L41.4529 219.354L42.2357 220.451L27.1332 231.15Z" fill="#383838"/>
		<path d="M21.7352 223.045L21.0266 221.898L36.8038 212.215L37.5123 213.362L21.7352 223.045Z" fill="#383838"/>
		<path d="M16.8904 214.6L16.2597 213.409L32.6464 204.79L33.2771 205.981L16.8904 214.6Z" fill="#383838"/>
		<path d="M12.6178 205.842L12.0683 204.612L28.9958 197.103L29.5453 198.333L12.6178 205.842Z" fill="#383838"/>
		<path d="M8.93509 196.797L8.46989 195.532L25.8661 189.175L26.3313 190.439L8.93509 196.797Z" fill="#383838"/>
		<path d="M5.85927 187.484L5.48119 186.191L23.27 181.025L23.6481 182.318L5.85927 187.484Z" fill="#383838"/>
		<path d="M3.40796 177.922L3.11942 176.606L21.2209 172.663L21.5094 173.978L3.40796 177.922Z" fill="#383838"/>
		<path d="M1.59995 168.121L1.4029 166.789L19.7337 164.096L19.9307 165.428L1.59995 168.121Z" fill="#383838"/>
		<path d="M0.499419 158.613L0.390089 157.27L18.8582 155.776L18.9675 157.119L0.499419 158.613Z" fill="#383838"/>
		<path d="M0.0208627 148.967L0 147.62L18.5266 147.335L18.5475 148.682L0.0208627 148.967Z" fill="#383838"/>
		<path d="M0.2366 138.107L0.314763 136.763L18.8126 137.831L18.7344 139.175L0.2366 138.107Z" fill="#383838"/>
		<path d="M1.09099 128.57L1.2572 127.234L19.6454 129.505L19.4791 130.842L1.09099 128.57Z" fill="#383838"/>
		<path d="M2.66444 118.617L2.92268 117.296L21.11 120.825L20.8518 122.147L2.66444 118.617Z" fill="#383838"/>
		<path d="M4.72573 109.552L5.06926 108.249L22.9893 112.944L22.6458 114.246L4.72573 109.552Z" fill="#383838"/>
		<path d="M7.54237 100.107L7.974 98.8305L25.5321 104.729L25.1005 106.005L7.54237 100.107Z" fill="#383838"/>
		<path d="M10.9616 90.958L11.4786 89.7139L28.5972 96.78L28.0802 98.0242L10.9616 90.958Z" fill="#383838"/>
		<path d="M14.9529 82.134L15.5524 80.9272L32.1577 89.12L31.5582 90.3269L14.9529 82.134Z" fill="#383838"/>
		<path d="M19.8851 72.9763L20.5681 71.8143L36.5559 81.1479L35.8729 82.3099L19.8851 72.9763Z" fill="#383838"/>
		<path d="M24.9902 64.8771L25.7487 63.7626L41.0831 74.128L40.3246 75.2425L24.9902 64.8771Z" fill="#383838"/>
		<path d="M30.5819 57.171L31.4122 56.1086L46.0302 67.4556L45.1999 68.518L30.5819 57.171Z" fill="#383838"/>
		<path d="M37.214 49.2263L38.116 48.2236L51.9122 60.5502L51.0102 61.5529L37.214 49.2263Z" fill="#383838"/>
		<path d="M43.7635 42.3752L44.7293 41.4334L57.6876 54.6323L56.7218 55.5741L43.7635 42.3752Z" fill="#383838"/>
		<path d="M50.7308 35.9684L51.7563 35.0915L63.821 49.1066L62.7954 49.9835L50.7308 35.9684Z" fill="#383838"/>
		<path d="M58.8505 29.4579L59.9344 28.6539L70.9975 43.4671L69.9135 44.2711L58.8505 29.4579Z" fill="#383838"/>
		<path d="M66.6565 24.0227L67.7912 23.2915L77.8523 38.798L76.7176 39.5293L66.6565 24.0227Z" fill="#383838"/>
		<path d="M74.8341 19.0848L76.0149 18.43L85.0244 34.566L83.8437 35.2208L74.8341 19.0848Z" fill="#383838"/>
		<path d="M84.281 14.2367L85.5051 13.6662L93.3538 30.3937L92.1297 30.9641L84.281 14.2367Z" fill="#383838"/>
		<path d="M93.2204 10.4073L94.4801 9.92007L101.184 27.1349L99.9244 27.6222L93.2204 10.4073Z" fill="#383838"/>
		<path d="M102.507 7.14767L103.797 6.7465L109.316 24.3741L108.026 24.7752L102.507 7.14767Z" fill="#383838"/>
		<path d="M112.136 4.48666L113.45 4.17409L117.751 22.1358L116.437 22.4483L112.136 4.48666Z" fill="#383838"/>
		<path d="M121.042 2.64039L122.374 2.41343L125.497 20.6152L124.165 20.8422L121.042 2.64039Z" fill="#383838"/>
		<path d="M131.317 1.21696L132.662 1.08218L134.516 19.4554L133.172 19.5902L131.317 1.21696Z" fill="#383838"/>
		<path d="M140.814 0.546767L142.164 0.5L142.808 18.9548L141.457 19.0016L140.814 0.546767Z" fill="#383838"/>
		<path d="M151.104 0.50727L152.454 0.554037L151.811 19.0089L150.46 18.9621L151.104 0.50727Z" fill="#383838"/>
		<path d="M161.697 1.21262L163.041 1.35254L161.116 19.7185L159.772 19.5786L161.697 1.21262Z" fill="#383838"/>
		<path d="M170.901 2.4493L172.233 2.67627L169.11 20.8781L167.778 20.6511L170.901 2.4493Z" fill="#383838"/>
		<path d="M180.863 4.47079L182.176 4.78835L177.807 22.7336L176.493 22.416L180.863 4.47079Z" fill="#383838"/>
		<path d="M190.488 7.12587L191.777 7.5319L186.19 25.1385L184.902 24.7325L190.488 7.12587Z" fill="#383838"/>
		<path d="M199.774 10.3803L201.032 10.8723L194.264 28.062L193.006 27.57L199.774 10.3803Z" fill="#383838"/>
		<path d="M208.716 14.2046L209.938 14.7796L202.027 31.4778L200.805 30.9029L208.716 14.2046Z" fill="#383838"/>
		<path d="M217.309 18.5735L218.49 19.2283L209.48 35.3643L208.299 34.7095L217.309 18.5735Z" fill="#383838"/>
		<path d="M225.544 23.4658L226.678 24.197L216.617 39.7035L215.483 38.9723L225.544 23.4658Z" fill="#383838"/>
		<path d="M234.166 29.4223L235.247 30.2303L224.13 45.0032L223.049 44.1952L234.166 29.4223Z" fill="#383838"/>
		<path d="M241.598 35.3392L242.624 36.216L230.559 50.2311L229.533 49.3543L241.598 35.3392Z" fill="#383838"/>
		<path d="M248.632 41.722L249.598 42.6638L236.639 55.8628L235.674 54.921L248.632 41.722Z" fill="#383838"/>
		<path d="M255.831 49.2042L256.729 50.2102L242.888 62.4867L241.99 61.4807L255.831 49.2042Z" fill="#383838"/>
		<path d="M261.953 56.4931L262.783 57.5555L248.165 68.9025L247.335 67.8401L261.953 56.4931Z" fill="#383838"/>
		<path d="M267.613 64.1978L268.371 65.3123L253.037 75.6777L252.278 74.5632L267.613 64.1978Z" fill="#383838"/>
		<path d="M273.187 72.988L273.866 74.1525L257.844 83.4274L257.165 82.2629L273.187 72.988Z" fill="#383838"/>
		<path d="M277.785 81.4769L278.385 82.6838L261.78 90.8766L261.18 89.6698L277.785 81.4769Z" fill="#383838"/>
		<path d="M281.839 90.3217L282.356 91.5659L265.238 98.632L264.72 97.3879L281.839 90.3217Z" fill="#383838"/>
		<path d="M285.317 99.4982L285.749 100.774L268.19 106.673L267.759 105.397L285.317 99.4982Z" fill="#383838"/>
		<path d="M288.188 108.977L288.531 110.28L270.611 114.974L270.268 113.672L288.188 108.977Z" fill="#383838"/>
		<path d="M290.421 118.724L290.675 120.047L272.474 123.507L272.221 122.184L290.421 118.724Z" fill="#383838"/>
		<path d="M291.913 128.077L292.079 129.413L273.691 131.685L273.525 130.348L291.913 128.077Z" fill="#383838"/>
		<path d="M292.837 138.259L292.91 139.603L274.408 140.6L274.335 139.256L292.837 138.259Z" fill="#383838"/>
		<path data-circle-path-green d="M151.104 0.507263L152.454 0.554031L151.811 19.0089L150.46 18.9621L151.104 0.507263Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M161.697 1.21261L163.041 1.35254L161.116 19.7185L159.772 19.5786L161.697 1.21261Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M170.901 2.4493L172.233 2.67626L169.11 20.8781L167.778 20.6511L170.901 2.4493Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M180.863 4.47079L182.176 4.78834L177.807 22.7336L176.493 22.416L180.863 4.47079Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M190.488 7.12586L191.777 7.53189L186.19 25.1385L184.902 24.7325L190.488 7.12586Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M199.774 10.3803L201.032 10.8723L194.264 28.062L193.006 27.57L199.774 10.3803Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M208.716 14.2046L209.938 14.7796L202.027 31.4778L200.805 30.9029L208.716 14.2046Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M217.309 18.5735L218.49 19.2283L209.48 35.3643L208.299 34.7095L217.309 18.5735Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M225.544 23.4658L226.678 24.197L216.617 39.7035L215.483 38.9723L225.544 23.4658Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M234.166 29.4223L235.247 30.2303L224.13 45.0032L223.049 44.1952L234.166 29.4223Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M241.598 35.3392L242.624 36.216L230.559 50.2311L229.533 49.3543L241.598 35.3392Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M248.632 41.722L249.598 42.6638L236.639 55.8628L235.674 54.921L248.632 41.722Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M255.831 49.2042L256.729 50.2101L242.888 62.4867L241.99 61.4807L255.831 49.2042Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M261.953 56.4931L262.783 57.5555L248.165 68.9025L247.335 67.8401L261.953 56.4931Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M267.613 64.1978L268.371 65.3123L253.037 75.6777L252.278 74.5632L267.613 64.1978Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M273.187 72.988L273.866 74.1525L257.844 83.4274L257.165 82.2629L273.187 72.988Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M277.785 81.4769L278.385 82.6838L261.78 90.8766L261.18 89.6698L277.785 81.4769Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M281.839 90.3217L282.356 91.5659L265.238 98.632L264.72 97.3879L281.839 90.3217Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M285.317 99.4981L285.749 100.774L268.19 106.673L267.759 105.397L285.317 99.4981Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M288.188 108.977L288.531 110.28L270.611 114.974L270.268 113.672L288.188 108.977Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M290.421 118.724L290.675 120.047L272.474 123.507L272.221 122.184L290.421 118.724Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M291.913 128.077L292.079 129.413L273.691 131.685L273.525 130.348L291.913 128.077Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M292.837 138.259L292.91 139.603L274.408 140.6L274.335 139.256L292.837 138.259Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M293 150.868L292.958 152.214L274.438 151.644L274.48 150.298L293 150.868Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M292.394 160.534L292.264 161.875L273.821 160.097L273.951 158.757L292.394 160.534Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M291.085 170.531L290.862 171.86L272.587 168.817L272.809 167.489L291.085 170.531Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M289.113 180.297L288.799 181.607L270.777 177.321L271.09 176.011L289.113 180.297Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M286.616 189.444L286.219 190.731L268.51 185.297L268.908 184.01L286.616 189.444Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M283.392 198.756L282.908 200.014L265.609 193.397L266.094 192.14L283.392 198.756Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M279.42 208.09L278.848 209.31L262.063 201.488L262.636 200.268L279.42 208.09Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M274.989 216.791L274.336 217.97L258.112 209.051L258.765 207.872L274.989 216.791Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M269.988 225.17L269.259 226.304L253.663 216.334L254.392 215.2L269.988 225.17Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M264.437 233.2L263.635 234.283L248.731 223.312L249.534 222.229L264.437 233.2Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M258.222 241.011L257.346 242.036L243.239 230.064L244.115 229.038L258.222 241.011Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M251.643 248.223L250.702 249.189L237.411 236.323L238.352 235.357L251.643 248.223Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M244.587 254.996L243.584 255.899L231.165 242.194L232.168 241.292L244.587 254.996Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M236.97 261.385L235.907 262.216L224.468 247.689L225.531 246.858L236.97 261.385Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M229.055 267.165L227.939 267.925L217.483 252.681L218.598 251.921L229.055 267.165Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M220.667 272.467L219.501 273.148L210.135 257.214L211.301 256.534L220.667 272.467Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M212.028 277.143L210.82 277.745L202.537 261.227L203.746 260.625L212.028 277.143Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M203.081 281.236L201.835 281.755L194.681 264.721L195.927 264.202L203.081 281.236Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M193.867 284.72L192.588 285.155L186.604 267.678L187.882 267.243L193.867 284.72Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M184.43 287.576L183.125 287.923L178.346 270.082L179.652 269.734L184.43 287.576Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M174.818 289.79L173.491 290.047L169.95 271.921L171.277 271.664L174.818 289.79Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M165.114 291.345L163.773 291.516L161.424 273.199L162.764 273.028L165.114 291.345Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M155.286 292.253L153.937 292.331L152.865 273.896L154.214 273.818L155.286 292.253Z" fill="#67F38F" opacity="0"/>
		<path data-circle-path-green d="M144.877 292.5L143.526 292.484L143.74 274.02L145.092 274.035L144.877 292.5Z" fill="#67F38F" opacity="0"/>
		</svg>

mixin loadingGreen 
	.loading-green.icon&attributes(attributes)
		<svg width="155" height="16" viewBox="0 0 155 16" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path data-loading-path-green fill-rule="evenodd" clip-rule="evenodd" d="M14.5135 0.950684C14.3808 0.950684 14.2537 1.00336 14.1599 1.09713L0.147449 15.1096C-0.167533 15.4246 0.05555 15.9631 0.501002 15.9631H3.0031H3.25692H5.75901C5.89162 15.9631 6.0188 15.9105 6.11257 15.8167L20.125 1.80424C20.44 1.48925 20.2169 0.950684 19.7715 0.950684H17.2694H17.0156H14.5135Z" fill="#67F38F" opacity="0"/>
		<path data-loading-path-green fill-rule="evenodd" clip-rule="evenodd" d="M26.6801 0.950684C26.5475 0.950684 26.4203 1.00336 26.3265 1.09713L12.3141 15.1096C11.9991 15.4246 12.2222 15.9631 12.6676 15.9631H15.1697H15.4235H17.9256C18.0582 15.9631 18.1854 15.9105 18.2792 15.8167L32.2916 1.80424C32.6066 1.48925 32.3835 0.950684 31.9381 0.950684H29.436H29.1822H26.6801Z" fill="#67F38F" opacity="0"/>
		<path data-loading-path-green fill-rule="evenodd" clip-rule="evenodd" d="M38.8467 0.950684C38.7141 0.950684 38.5869 1.00336 38.4932 1.09713L24.4807 15.1096C24.1657 15.4246 24.3888 15.9631 24.8343 15.9631H27.3364H27.5902H30.0923C30.2249 15.9631 30.352 15.9105 30.4458 15.8167L44.4583 1.80424C44.7733 1.48925 44.5502 0.950684 44.1047 0.950684H41.6026H41.3488H38.8467Z" fill="#67F38F" opacity="0"/>
		<path data-loading-path-green fill-rule="evenodd" clip-rule="evenodd" d="M51.0132 0.950684C50.8806 0.950684 50.7534 1.00336 50.6597 1.09713L36.6472 15.1096C36.3322 15.4246 36.5553 15.9631 37.0008 15.9631H39.5029H39.7567H42.2588C42.3914 15.9631 42.5186 15.9105 42.6123 15.8167L56.6248 1.80424C56.9398 1.48925 56.7167 0.950684 56.2712 0.950684H53.7691H53.5153H51.0132Z" fill="#67F38F" opacity="0"/>
		<path data-loading-path-green fill-rule="evenodd" clip-rule="evenodd" d="M63.18 0.950684C63.0474 0.950684 62.9202 1.00336 62.8264 1.09713L48.814 15.1096C48.499 15.4246 48.7221 15.9631 49.1675 15.9631H51.6696H51.9234H54.4255C54.5581 15.9631 54.6853 15.9105 54.7791 15.8167L68.7915 1.80424C69.1065 1.48925 68.8834 0.950684 68.438 0.950684H65.9359H65.6821H63.18Z" fill="#67F38F" opacity="0"/>
		<path data-loading-path-green fill-rule="evenodd" clip-rule="evenodd" d="M75.3466 0.950684C75.214 0.950684 75.0868 1.00336 74.993 1.09713L60.9806 15.1096C60.6656 15.4246 60.8887 15.9631 61.3341 15.9631H63.8362H64.09H66.5921C66.7247 15.9631 66.8519 15.9105 66.9457 15.8167L80.9581 1.80424C81.2731 1.48925 81.05 0.950684 80.6046 0.950684H78.1025H77.8487H75.3466Z" fill="#67F38F" opacity="0"/>
		<path data-loading-path-green fill-rule="evenodd" clip-rule="evenodd" d="M87.5132 0.950684C87.3806 0.950684 87.2534 1.00336 87.1597 1.09713L73.1472 15.1096C72.8322 15.4246 73.0553 15.9631 73.5008 15.9631H76.0029H76.2567H78.7588C78.8914 15.9631 79.0186 15.9105 79.1123 15.8167L93.1248 1.80424C93.4398 1.48925 93.2167 0.950684 92.7712 0.950684H90.2691H90.0153H87.5132Z" fill="#67F38F" opacity="0"/>
		<path data-loading-path-green fill-rule="evenodd" clip-rule="evenodd" d="M99.6797 0.950684C99.5471 0.950684 99.4199 1.00336 99.3262 1.09713L85.3137 15.1096C84.9987 15.4246 85.2218 15.9631 85.6673 15.9631H88.1694H88.4232H90.9253C91.0579 15.9631 91.1851 15.9105 91.2788 15.8167L105.291 1.80424C105.606 1.48925 105.383 0.950684 104.938 0.950684H102.436H102.182H99.6797Z" fill="#67F38F" opacity="0"/>
		<path data-loading-path-green fill-rule="evenodd" clip-rule="evenodd" d="M111.846 0.950684C111.714 0.950684 111.587 1.00336 111.493 1.09713L97.4805 15.1096C97.1655 15.4246 97.3886 15.9631 97.834 15.9631H100.336H100.59H103.092C103.225 15.9631 103.352 15.9105 103.446 15.8167L117.458 1.80424C117.773 1.48925 117.55 0.950684 117.104 0.950684H114.602H114.349H111.846Z" fill="#67F38F" opacity="0"/>
		<path data-loading-path-green fill-rule="evenodd" clip-rule="evenodd" d="M124.013 0.950684C123.88 0.950684 123.753 1.00336 123.66 1.09713L109.647 15.1096C109.332 15.4246 109.555 15.9631 110.001 15.9631H112.503H112.757H115.259C115.391 15.9631 115.518 15.9105 115.612 15.8167L129.625 1.80424C129.94 1.48925 129.717 0.950684 129.271 0.950684H126.769H126.515H124.013Z" fill="#67F38F" opacity="0"/>
		<path data-loading-path-green fill-rule="evenodd" clip-rule="evenodd" d="M136.18 0.950684C136.047 0.950684 135.92 1.00336 135.826 1.09713L121.814 15.1096C121.499 15.4246 121.722 15.9631 122.167 15.9631H124.669H124.923H127.425C127.558 15.9631 127.685 15.9105 127.779 15.8167L141.791 1.80424C142.106 1.48925 141.883 0.950684 141.438 0.950684H138.936H138.682H136.18Z" fill="#67F38F" opacity="0"/>
		<path data-loading-path-green fill-rule="evenodd" clip-rule="evenodd" d="M148.346 0.950684C148.214 0.950684 148.086 1.00336 147.993 1.09713L133.98 15.1096C133.665 15.4246 133.888 15.9631 134.334 15.9631H136.836H137.09H139.592C139.724 15.9631 139.852 15.9105 139.945 15.8167L153.958 1.80424C154.273 1.48925 154.05 0.950684 153.604 0.950684H151.102H150.848H148.346Z" fill="#67F38F" opacity="0"/>
		</svg>

mixin loadingGray 
	.loading-gray.icon&attributes(attributes)
		<svg width="155" height="16" viewBox="0 0 155 16" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path data-loading-path-gray fill-rule="evenodd" clip-rule="evenodd" d="M14.5135 0.950684C14.3808 0.950684 14.2537 1.00336 14.1599 1.09713L0.147449 15.1096C-0.167533 15.4246 0.05555 15.9631 0.501002 15.9631H3.0031H3.25692H5.75901C5.89162 15.9631 6.0188 15.9105 6.11257 15.8167L20.125 1.80424C20.44 1.48925 20.2169 0.950684 19.7715 0.950684H17.2694H17.0156H14.5135Z" fill="#333333" opacity="0"/>
		<path data-loading-path-gray fill-rule="evenodd" clip-rule="evenodd" d="M26.6801 0.950684C26.5475 0.950684 26.4203 1.00336 26.3265 1.09713L12.3141 15.1096C11.9991 15.4246 12.2222 15.9631 12.6676 15.9631H15.1697H15.4235H17.9256C18.0582 15.9631 18.1854 15.9105 18.2792 15.8167L32.2916 1.80424C32.6066 1.48925 32.3835 0.950684 31.9381 0.950684H29.436H29.1822H26.6801Z" fill="#333333" opacity="0"/>
		<path data-loading-path-gray fill-rule="evenodd" clip-rule="evenodd" d="M38.8467 0.950684C38.7141 0.950684 38.5869 1.00336 38.4932 1.09713L24.4807 15.1096C24.1657 15.4246 24.3888 15.9631 24.8343 15.9631H27.3364H27.5902H30.0923C30.2249 15.9631 30.352 15.9105 30.4458 15.8167L44.4583 1.80424C44.7733 1.48925 44.5502 0.950684 44.1047 0.950684H41.6026H41.3488H38.8467Z" fill="#333333" opacity="0"/>
		<path data-loading-path-gray fill-rule="evenodd" clip-rule="evenodd" d="M51.0132 0.950684C50.8806 0.950684 50.7534 1.00336 50.6597 1.09713L36.6472 15.1096C36.3322 15.4246 36.5553 15.9631 37.0008 15.9631H39.5029H39.7567H42.2588C42.3914 15.9631 42.5186 15.9105 42.6123 15.8167L56.6248 1.80424C56.9398 1.48925 56.7167 0.950684 56.2712 0.950684H53.7691H53.5153H51.0132Z" fill="#333333" opacity="0"/>
		<path data-loading-path-gray fill-rule="evenodd" clip-rule="evenodd" d="M63.18 0.950684C63.0474 0.950684 62.9202 1.00336 62.8264 1.09713L48.814 15.1096C48.499 15.4246 48.7221 15.9631 49.1675 15.9631H51.6696H51.9234H54.4255C54.5581 15.9631 54.6853 15.9105 54.7791 15.8167L68.7915 1.80424C69.1065 1.48925 68.8834 0.950684 68.438 0.950684H65.9359H65.6821H63.18Z" fill="#333333" opacity="0"/>
		<path data-loading-path-gray fill-rule="evenodd" clip-rule="evenodd" d="M75.3466 0.950684C75.214 0.950684 75.0868 1.00336 74.993 1.09713L60.9806 15.1096C60.6656 15.4246 60.8887 15.9631 61.3341 15.9631H63.8362H64.09H66.5921C66.7247 15.9631 66.8519 15.9105 66.9457 15.8167L80.9581 1.80424C81.2731 1.48925 81.05 0.950684 80.6046 0.950684H78.1025H77.8487H75.3466Z" fill="#333333" opacity="0"/>
		<path data-loading-path-gray fill-rule="evenodd" clip-rule="evenodd" d="M87.5132 0.950684C87.3806 0.950684 87.2534 1.00336 87.1597 1.09713L73.1472 15.1096C72.8322 15.4246 73.0553 15.9631 73.5008 15.9631H76.0029H76.2567H78.7588C78.8914 15.9631 79.0186 15.9105 79.1123 15.8167L93.1248 1.80424C93.4398 1.48925 93.2167 0.950684 92.7712 0.950684H90.2691H90.0153H87.5132Z" fill="#333333" opacity="0"/>
		<path data-loading-path-gray fill-rule="evenodd" clip-rule="evenodd" d="M99.6797 0.950684C99.5471 0.950684 99.4199 1.00336 99.3262 1.09713L85.3137 15.1096C84.9987 15.4246 85.2218 15.9631 85.6673 15.9631H88.1694H88.4232H90.9253C91.0579 15.9631 91.1851 15.9105 91.2788 15.8167L105.291 1.80424C105.606 1.48925 105.383 0.950684 104.938 0.950684H102.436H102.182H99.6797Z" fill="#333333" opacity="0"/>
		<path data-loading-path-gray fill-rule="evenodd" clip-rule="evenodd" d="M111.846 0.950684C111.714 0.950684 111.587 1.00336 111.493 1.09713L97.4805 15.1096C97.1655 15.4246 97.3886 15.9631 97.834 15.9631H100.336H100.59H103.092C103.225 15.9631 103.352 15.9105 103.446 15.8167L117.458 1.80424C117.773 1.48925 117.55 0.950684 117.104 0.950684H114.602H114.349H111.846Z" fill="#333333" opacity="0"/>
		<path data-loading-path-gray fill-rule="evenodd" clip-rule="evenodd" d="M124.013 0.950684C123.88 0.950684 123.753 1.00336 123.66 1.09713L109.647 15.1096C109.332 15.4246 109.555 15.9631 110.001 15.9631H112.503H112.757H115.259C115.391 15.9631 115.518 15.9105 115.612 15.8167L129.625 1.80424C129.94 1.48925 129.717 0.950684 129.271 0.950684H126.769H126.515H124.013Z" fill="#333333" opacity="0"/>
		<path data-loading-path-gray fill-rule="evenodd" clip-rule="evenodd" d="M136.18 0.950684C136.047 0.950684 135.92 1.00336 135.826 1.09713L121.814 15.1096C121.499 15.4246 121.722 15.9631 122.167 15.9631H124.669H124.923H127.425C127.558 15.9631 127.685 15.9105 127.779 15.8167L141.791 1.80424C142.106 1.48925 141.883 0.950684 141.438 0.950684H138.936H138.682H136.18Z" fill="#333333" opacity="0"/>
		<path data-loading-path-gray fill-rule="evenodd" clip-rule="evenodd" d="M148.346 0.950684C148.214 0.950684 148.086 1.00336 147.993 1.09713L133.98 15.1096C133.665 15.4246 133.888 15.9631 134.334 15.9631H136.836H137.09H139.592C139.724 15.9631 139.852 15.9105 139.945 15.8167L153.958 1.80424C154.273 1.48925 154.05 0.950684 153.604 0.950684H151.102H150.848H148.346Z" fill="#333333" opacity="0"/>
		</svg>

mixin profitabilityLine 
	.profitability-line.icon&attributes(attributes)
		<svg width="757" height="138" viewBox="0 0 757 138" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M756.5 1L741.5 16H362L341 37H301L201 137H0.5" stroke="#333333"/>
		<path d="M578.5 37.5H638.5L653 23H740.5" stroke="#333333"/>
		</svg>

mixin telegram 
	.telegram-icon.icon&attributes(attributes) 
		<svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M0.30871 5.91589L3.52893 7.00955L11.1741 2.33566C11.2849 2.26788 11.3985 2.41839 11.3029 2.50637L5.51492 7.83392L5.29968 10.8165C5.28329 11.0434 5.5566 11.1697 5.71881 11.0102L7.50092 9.25784L10.7588 11.7241C11.1099 11.9899 11.6184 11.8025 11.7131 11.3724L13.9816 1.07241C14.111 0.484827 13.5352 -0.0109928 12.9734 0.204187L0.292325 5.06008C-0.105475 5.21243 -0.0946396 5.77892 0.30871 5.91589Z" fill="white"/>
		</svg>